.Music {
    position: absolute;
    color: black;
    font-weight: 700;
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
    top: 87%;
    left: 26%;

}

.Linea {
    color: black;
    background-color: black;
    height: 2;

}