.header {
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: transparent;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .nav-menu a {
    color: #ffffff;
}

.header.active .nav-menu a {
    color: black;
}

.header .nav-menu {
    display: flex;
}

.header.active .nav-menu {
    display: flex;
}

.header .nav-item {
    position: relative;
    left: 165%;
    padding: 1rem;
    font-weight: 700;
    font-size: medium;
}

.header .nav-item1 {
    position: absolute;
    left: 0;
    padding: 1rem;
    font-weight: 700;
    font-size: medium;
}

.header.active {
    background-color: white;
}

.header.active .nav-item a {
    color: lightgray;
}

.header.active .nav-item a:hover {
    color: black;
}

.header.active .nav-item1 {
    color: black;
    position: absolute;
    left: 0;
    padding: 1rem;
    font-weight: 700;
    font-size: medium;
}

.header .navbar svg {
    color: white;
    position: absolute;
    right: 2.5%;
    width: 20;
    height: 20;
}

.header.active .navbar svg {
    color: black;
    position: absolute;
    right: 2.5%;
    width: 20;
    height: 20;
}

.header .nav-menu svg {
    color: white;
    position: absolute;
    top: 35%;
    right: 0.5%;
    width: 20;
    height: 20;
}

.header.active .nav-menu svg {
    color: black;
    position: absolute;
    top: 35%;
    right: 0.5%;
    width: 20;
    height: 20;
}